<div class="hc-content">
  <form class="form">
    <h1>Alta de organizacion</h1>
    <hr />
    <div class="row">
      <div class="col">
        <label class="form-label">Nombre de la organizacion</label>
        <input type="text" class="form-control mb-2" placeholder="Ingrese un nombre de organizacion" />
      </div>

      <div class="col">
        <label class="form-label">Tipo de organizacion</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione un tipo de organizacion</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Razon social</label>
        <input type="text" class="form-control mb-2" placeholder="Ingrese la razon social de la organizacion" />
      </div>
      <div class="col">
        <label class="form-label">Clasificacion de la organizacion</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione una clasificacion</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div>
      <label class="form-label">Direccion de la organizacion</label>
      <input type="text" class="form-control mb-2" placeholder="Ingrese la direccion de la organizacion" />
    </div>

    <div class="alta-paradas-table">
      <label class="form-label">Sectores de la organizacion</label>
      <div class="alta-paradas-control">
          <div class="form-group alta-numero-parada">
              <label class="alta-form-group-name" for="numeroParada">
                  #
              </label>
              <input type="number" class="form-control" id="numeroParada" value="1" readonly>
          </div>
          <div class="form-group">
              <label class="alta-form-group-name">
                  Nombre del sector
              </label>
              <input type="text" class="form-control" id="nombreParada">
          </div>
          <button class="agregar-parada-button" id="agregarParadaButton" type="button">
              <i class="fa-solid fa-plus"></i>
          </button>
      </div>
  </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-success" onclick="alert('Confirmar alta de organizacion')">Confirmar alta</button>
    </div>
  </form>
</div>