<div class="hc-content">
    <div class="hc-card">
        <div class="hc-card-header">
            <span class="hc-card-title">
                Alta de Trayectos
            </span>
        </div>
        <div class="hc-card-body">
            <form action="" class="alta-form" id="nuevoTrayectoForm">
                <div class="alta-form-row">
                    <div class="form-group">
                        <label class="alta-form-group-name" for="transporteSelect">
                            Transporte
                        </label>
                        <select class="form-control" id="transporteSelect">
                            <option value="0">Colectivo</option>
                        </select>                          
                    </div>
                </div>
                <div class="alta-form-row">
                    <div class="form-group">
                        <label class="alta-form-group-name">
                            Línea
                        </label>
                        <select class="form-control" id="lineaSelect">
                            <option value="0">145 - De Plaza Italia a Villa Albertina</option>
                        </select>                          
                    </div>
                </div>
                <div class="alta-form-row">
                    <div class="form-group">
                        <label class="alta-form-group-name" for="desdeParada">
                            Desde
                        </label>
                        <input type="text" class="form-control" id="desdeParada" placeholder="">                        
                    </div>
                </div>
                <div class="alta-form-row">
                    <div class="form-group">
                        <label class="alta-form-group-name" for="hastaParada">
                            Hasta
                        </label>
                        <input type="text" class="form-control" id="hastaParada" placeholder="">                        
                    </div>
                </div>
                <div class="alta-form-row">
                    <button type="button" class="alta-button agregar-tramo">
                        Agregar Tramo
                    </button>
                    <button type="submit" class="alta-button confirar-tramo">
                        Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>