<div class="hc-content">
  <form class="form">
    <h1>Alta de organizacion</h1>
    <hr />
    <div class="row">
      <div class="col">
        <label class="form-label">Nombre de la organizacion</label>
        <input type="text" class="form-control mb-2" placeholder="Ingrese un nombre de organizacion" />
      </div>

      <div class="col">
        <label class="form-label">Tipo de organizacion</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione un tipo de organizacion</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Razon social</label>
        <input type="text" class="form-control mb-2" placeholder="Ingrese la razon social de la organizacion" />
      </div>
      <div class="col">
        <label class="form-label">Clasificacion de la organizacion</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione una clasificacion</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div>
      <label class="form-label">Sectores de la organizacion</label>
      <select class="form-select mb-2" aria-label="Default select example">
        <option selected>Seleccione la cantidad de sectores de la organización</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div>
      <label class="form-label">Direccion de la organizacion</label>
      <input type="text" class="form-control mb-2" placeholder="Ingrese la direccion de la organizacion" />
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-success" onclick="alert('Confirmar alta de organizacion')">Siguiente</button>
    </div>
  </form>
</div>