<nav class="hc-navbar">
    <div class="hc-navbar-img">
        <img class="hc-navbar-img-huellas" src="/images/huellas.jpeg"/>
    </div>
    <div class="hc-navbar-items">
        <a class="hc-navbar-item" href="/altas/organizacion">
            <i class="fa-solid fa-building hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Organizaciones</span>
        </a>
        <a class="hc-navbar-item" href="/altas/miembro">
            <i class="fa-solid fa-user hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Miembros</span>
        </a>
        <a class="hc-navbar-item" href="/users/solicitudes">
            <i class="fa-solid fa-envelope hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Solicitudes de Miembros</span>
        </a>
        <a class="hc-navbar-item" href="/altas/transporte">
            <i class="fa-solid fa-bus hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Transportes</span>
        </a>
        <a class="hc-navbar-item" href="/altas/trayecto">
            <i class="fa-solid fa-road hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Alta de Trayectos</span>
        </a>
        <a class="hc-navbar-item" href="/">
            <i class="fa-solid fa-arrow-right-from-bracket hc-navbar-item-icon"></i>
            <span class="hc-navbar-item-text">Salir</span>
        </a>
    </div>
</nav>