<div class="hc-content">
  <form class="form">
    <h1>Solicitudes de miembros</h1>
    <hr />
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
        aria-describedby="Buscar-addon" />
      <button type="button" class="btn btn-outline-success">Buscar</button>
    </div>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" scope="col">Nombre y apellido</th>
          <th class="text-center" scope="col">Tipo de documento</th>
          <th class="text-center" scope="col">Numero de documento</th>
          <th class="text-center" scope="col">Sector</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <th class="text-center" scope="row">
            <div class="mt-2">Matías Carasi</div>
          </th>
          <td class="text-center">
            <div class="mt-2">DNI</div>
          </td>
          <td class="text-center">
            <div class="mt-2">42696411</div>
          </td>
          <td class="text-center">
            <div class="mt-2">Sector</div>
          </td>
          <td class="text-end"><button type="button" class="btn btn-success">Aceptar</button></td>
          <td class="text-center"><button type="button" class="btn btn-danger">Rechazar</button></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">
            <div class="mt-2">Jana Rozenberg</div>
          </th>
          <td class="text-center">
            <div class="mt-2">DNI</div>
          </td>
          <td class="text-center">
            <div class="mt-2">42696411</div>
          </td>
          <td class="text-center">
            <div class="mt-2">Sector</div>
          </td>
          <td class="text-end"><button type="button" class="btn btn-success">Aceptar</button></td>
          <td class="text-center"><button type="button" class="btn btn-danger">Rechazar</button></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">
            <div class="mt-2">Diego Pisconte</div>
          </th>
          <td class="text-center">
            <div class="mt-2">DNI</div>
          </td>
          <td class="text-center">
            <div class="mt-2">42696411</div>
          </td>
          <td class="text-center">
            <div class="mt-2">Sector</div>
          </td>
          <td class="text-end"><button type="button" class="btn btn-success">Aceptar</button></td>
          <td class="text-center"><button type="button" class="btn btn-danger">Rechazar</button></td>
        </tr>
        <tr>
          <th class="text-center" scope="row">
            <div class="mt-2">Alejandro Buergo</div>
          </th>
          <td class="text-center">
            <div class="mt-2">DNI</div>
          </td>
          <td class="text-center">
            <div class="mt-2">42696411</div>
          </td>
          <td class="text-center">
            <div class="mt-2">Sector</div>
          </td>
          <td class="text-end"><button type="button" class="btn btn-success">Aceptar</button></td>
          <td class="text-center"><button type="button" class="btn btn-danger">Rechazar</button></td>

        </tr>
        <tr>
          <th class="text-center" scope="row">
            <div class="mt-2">Juan Mercurio</div>
          </th>
          <td class="text-center">
            <div class="mt-2">DNI</div>
          </td>
          <td class="text-center">
            <div class="mt-2">42696411</div>
          </td>
          <td class="text-center">
            <div class="mt-2">Sector</div>
          </td>
          <td class="text-end"><button type="button" class="btn btn-success">Aceptar</button></td>
          <td class="text-center"><button type="button" class="btn btn-danger">Rechazar</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>